
.box{
    background-image: url("chess.jpg");
    background-repeat: no-repeat;
    width:600px;
    height: 600px;
    display:grid;
    grid-template-rows: repeat(8,75px);
    grid-template-columns: repeat(8,75px);
}
.inside{
    font-size:50px;
    text-align:center;
    
}

.col{
    border-radius: 50%;
    background-color: rgba(0, 255, 0.3,0.2);
}