*{
    margin:0px;
    padding:0px;
}
.box{
    background-image: url("chess.jpg");
    background-repeat: no-repeat;
    display:grid;
    grid-template-rows: repeat(8,75px);
    grid-template-columns: repeat(8,75px);
    margin-left:28%;
}
.inside{
    font-size:50px;
    text-align:center;
}
