<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script defer src="index.js"></script>
    <link rel="stylesheet" href="new.css">
  

</head>
<body>
    
        <div class="indexi">
        <input id="myInput" type="text" placeholder="Search..">
    <ul id="myList">
    <% Object.keys(rooms).forEach(room => { %>
    <a href="/<%= room %>" class="button btnPush btnLightBlue"><%= room %></a>
        
      <% }) %>
    </ul>
    <div class="indexiform">
    <form action="/room" method="POST">
    <input name="room" type="text" style="font-size:25px"  size="28" required>
    <button id="btn" type="Submit">New Room</button>
    </form>
</div>
</div>

</body>
</html>